@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    box-sizing: border-box;
}

* a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    text-shadow: none;
}

html{
    scroll-behavior: smooth;
}

body video{
    position: absolute;
    right: 0;
    bottom: 10;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.navbar{
    margin : 1.2rem;
    padding : 1rem;
    display: flex;
    position: sticky;
    justify-content: space-between;  
}

.title a{
    font-family: "Momo Signature", cursive;
    font-size: 1.7rem;
    font-weight: 100;
    font-style: normal;
}

.navlinks{
    font-size: 1rem;
    display: flex;
}
    
.navlinks ul{
    list-style: none;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
      
}

.text h1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-align: center;
    color: rgba(240, 240, 235, 0.841);
    font-size: 3.5rem;
}

button{
    margin-top: 10rem;
    border-radius: 2rem;
    padding: 1.3rem;
    background: none;
    border-color: white;
    color: white;
}

.btn{
    margin-top: 9rem;
    padding: 0.7rem;
    color: white;
    
}

#contact{
    padding-top: 3rem;
    background: rgb(96, 131, 85,0.4);
}

@media (max-aspect-ratio : 16/9){
    .back{
        width: auto;
        height: 100%;
    }
}

.gallary{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 175, 53,0.4);
}

.showcase{
    margin: 2rem;
    border: 2px solid white;
    height: 40vh;
    width: 25vw;
}

.showcase img{
    margin: 1rem auto auto 1rem;
    height: 30vh;
    width: 20vw;
    border-bottom: 2rem;
}

@media (max-width:1050px) {
    html {
        scroll-behavior: smooth;
    }

    body{
        display: none;
    }
}